.grid-item-wrapper {
    display: grid;
    grid-template-columns: 397px 397px 397px;
    gap: 30px;
    margin-left: 60px;
    margin-bottom: 200px;
}
.item-wrapper {
    display: block;
    width: 397px;
    height: 365px;
    border: 1px solid #A5A5A5;
    box-sizing: border-box;
    border-radius: 5px;
}

.picture {
    padding-top: 37px;
    padding-left: 88px;
    width: 210px;
}

.name {
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-decoration: none;
}